MOODLE_PORT=8080

DB_NAME=moodle
DB_USER=moodle
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me_root

MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=change_me_admin
MOODLE_ADMIN_EMAIL=admin@example.com

MOODLE_SITE_NAME=NeoBright Moodle
MOODLE_SITE_SHORTNAME=NeoBright
